<h1>List department</h1>
<hr>
<table class="records">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.code %></td>
        <td><%= department.name %></td>
        <td><%= link_to 'Edit', edit_department_path(department) if can?(:update, 'offices') %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } if can?(:delete, 'offices') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
