  <tr>
    <td><%= privilege.action.capitalize %></td>
    <td><%= privilege.weight == 1 ? 'Allow' : 'Deny' %></td>
    <td><%= privilege.resource %></td>
    <td class="action"><%= link_to 'Destroy', [privilege.role, privilege], method: :delete, data: { confirm: 'Are you sure?' } if can?(:delete, 'privileges') %></td>
  </tr>
