<%
  online = [
    {
      'label' => 'Online now',
      'color' => '#5e5',
      'data' => @online_green_count,
      'href' => "/devices?query=#{u(ActiveSupport::JSON.encode(@online_green_query))}"
    },
    {
      'label' => 'Past 24 hours',
      'color' => '#ee5',
      'data' => @online_yellow_count,
      'href' => "/devices?query=#{u(ActiveSupport::JSON.encode(@online_yellow_query))}"
    },
    {
      'label' => 'Others',
      'color' => '#e55',
      'data' => @online_red_count,
      'href' => "/devices?query=#{u(ActiveSupport::JSON.encode(@online_red_query))}"
    },
  ]
%>
<table style="margin-left:auto;margin-right:auto;">
  <tr>
    <td style="padding:0 40px;"><h2 style="text-align:center;">Online devices</h2><div id="online"></div></td>
  </tr>
</table>
<script type="text/javascript">
$(function() {
  pieChart('online', 200, <%= ActiveSupport::JSON.encode(online).html_safe %>);
});
</script>
