<!DOCTYPE html>
<html>

<head>
  <title>Release Notes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
</head>

<body>
  <div id="header">
    <%= image_tag('logo.png', class: 'logo') %>
  </div>

  <div id="content">
    <h3>
      0.1.0
      <span>[ 05 Apr 2018 ]</span>
    </h3>

    <ul style="margin-left: 15px">
      <li><b>Add</b>: User Management</li>
    </ul>
  </div>
</body>

</html>
