<% content_for :title, 'Edit Role ' + @role.name %>

<h1>Editing role</h1>
<%= link_to "Back", :back  %>

<%#= render 'form' %>

<h3>
  <strong>Name: </strong> <%= @role.name %>
</h3>


<h2>Privileges</h2>

<table class="records">
  <tr>
    <th>Action</th>
    <th>Weight</th>
    <th>Resource</th>
    <th></th>
  </tr>
  <%= render @role.privileges %>
  <tr>
    <td colspan="4"><%= render 'privileges/form' %></td>
  </tr>
</table>
