<%%
content_for :title do 'About' end
%%>
<h1>About GenieACS</h1>

<h2>GenieACS:</h2>

<p>A fast and lightweight TR-069 Auto Configuration Server (ACS)</p>

<p><br>
  <b>Version:</b> 1.0.7<br>
  <b>License:</b> AGPL-3.0<br>
<br>
<b>Dependencies:</b><br>
<br></p>

<table id="dependencies" class="records">
  <tr>
    <th>Name</th>
    <th>License</th>
  </tr>
%s</table>

<h2>GenieACS GUI:</h2>

<p>A GUI front end for GenieACS built with Ruby on Rails</p>

<p><br>
  <b>Version:</b> 1.0<br>
  <b>License:</b> MIT<br>
<br>
<b>Dependencies:</b><br>
<br></p>

<table id="dependencies" class="records">
  <tr>
    <th>Name</th>
    <th>License</th>
  </tr>
%s</table>

<h2>Licenses:</h2>

%s
