// Place all the styles related to the Presets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#configurations {
  input[_name=name] {
    width: 400px;
  }
  input[_name=value] {
    width: 100px;
  }
  input[_name=age] {
    width: 50px;
  }
  input[_name=tag], input[_name=object] {
    width: 150px;
  }
  input[_name=provision] {
    width: 100px;
  }
  input[_name=args] {
    width: 400px;
  }
}
